
<nav class="nav-extended" style="background-color: rgba(108, 218, 163, 0.425);">
  <div class="nav-wrapper">

    <ul class="topnav">


      
      <a routerLink="help">
        <i class="material-icons prefix">help_outline</i>
      </a>
      <a routerLink="login">
        <i class="material-icons prefix">account_circle</i>
      </a>

    </ul>

  </div>
  <div class="row">
    <form class="col s12">
      <a href="#" data-target="slide-out" class="col s3"><i class="material-icons">menu</i></a>
      <div class="input-field inline col s5">
        <input id="search_inline" type="text" class="validate">
        <label for="search_inline">search</label>
      </div>

    </form>
  </div>
</nav>


<router-outlet></router-outlet>
