<form class="col s12 white" #userRegistrationForm="" >
    <div class="row">
        <div class="input-field col s12">
            <i class="material-icons prefix">email</i>
            <input class="validate" type="email" name="Email"  required>
            <label>email</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <i class="material-icons prefix">account_circle</i>
            <input class="validate" type="text" name="UserName" 
                required>
            <label>username</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <i class="material-icons prefix">lock</i>
            <input class="validate" type="password" name="Password" 
                required minlength="6">
            <label
                >password</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <i class="material-icons prefix">vpn_key</i>
            <input class="validate" type="password" name="ConfirmPassword" 
                 required>
            <label>confirm password</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <button  class="btn-large btn-submit" type="submit">Sign Up</button>
        </div>
    </div>
</form>